<div class="ui form">
  <div class="labels">

<h1> Fantasy Profile <h1>
<h3> All Your Teams </h3>
  <% if current_user.teams.empty? %>
    <p>You have no teams yets!</p>
      <% end %>
<% current_user.teams.each do |t| %>
<div class="ui blue basic button"><p><%=link_to t.name, team_path(t) %></p></div>
<% end %>
<br>
<br>
<button class="ui button"><%=link_to "Create New Team", new_team_path %></button>
<button class="ui button"><%=link_to " View All Players", players_path %></button>

</div>
</div>
