<h1> Fantasy Profile <h1>

<h3> All Your Teams </h3>

<% current_user.teams.each do |t| %>
<p><%=link_to t.name, team_path(t) %></p>
<% end %>

<button><%=link_to "Create New Team", new_team_path %></button>
